# Este é um template de env para ambiente de desenvolvimento
# Copie este arquivo e o renomeie para .env.development
# Mantenha as variáveis atualizadas conforme necessário

DB_VENDOR=mysql
DB_HOST=localhost
DB_LOGGING=true
DB_AUTO_LOAD_MODELS=true
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=database
DB_SYNCHRONIZE=true