# Este é um template de env para ambiente de testes
# Copie este arquivo e o renomeie para .env.test
# Mantenha as variáveis atualizadas conforme necessário

DB_VENDOR=sqlite
DB_HOST=":memory:"
DB_LOGGING=false
DB_AUTO_LOAD_MODELS=true
DB_DATABASE=memory

# As variáveis abaixo são necessárias apenas se você estiver usando um banco de dados MySQL para testes
#DB_PORT=3306
#DB_USERNAME=root
#DB_PASSWORD=root
#DB_DATABASE=mydatabase
